body{
    font-family: 'Mukta', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.section-area{
    display: flex;
    margin-bottom: 150px;
}
.intro{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
img{
    width: 80%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.txt-clr{
    color: yellow;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato );
    padding: 10px 40px;
    border-radius: 5px;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-width{
    width: 40%;
    margin-left: 5%;
    padding: 30px;
    border-radius: 10px;
}
.expb{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.expb div{
    box-shadow: 5px 7px 40px gray;;
}

.r-exp{
    border-image: linear-gradient(#f6b73c, #4d9f0c) ;
    border-left: 9px solid;
    border-image-slice: 1;
}

.l-exp{
    border-image: linear-gradient(blue, cyan) ;
    border-left: 9px solid;
    border-image-slice: 1;
}

footer p{
    text-align: center;
}